In [3]:
import pandas as pd

df=pd.DataFrame()

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
list1=[1,2,1,1]
list2=[2,1]
list3=[]

In [6]:
df[0]=list1

In [7]:
df

   0
0  1
1  2
2  1
3  1

---

In [8]:
list_dict={}
detect_list=[]
detect_list.append("do")
detect_list

['do']

In [9]:
list_dict['t1']=detect_list
list_dict['t1'].append('hi')
list_dict

{'t1': ['do', 'hi']}

In [10]:
list_dict['t2']=[1,2,3,0,9]
list_dict[0]=['ttt',10,'hihihi']
list_dict['sequence']=[110,'hihihi']
list_dict

list_dict['t4']=None
list_dict

{0: ['ttt', 10, 'hihihi'],
 'sequence': [110, 'hihihi'],
 't1': ['do', 'hi'],
 't2': [1, 2, 3, 0, 9],
 't4': None}

In [11]:
str(list_dict['t2'])

'[1, 2, 3, 0, 9]'

## 딕셔너리를 df로, 배열길이 다를 때

In [24]:
res = pd.DataFrame.from_dict(list_dict, orient='index')
res

            0       1       2    3    4
t1         do      hi    None  NaN  NaN
t2          1       2       3  0.0  9.0
0         ttt      10  hihihi  NaN  NaN
sequence  110  hihihi    None  NaN  NaN

In [25]:
res = res.transpose()
res

     t1 t2       0 sequence
0    do  1     ttt      110
1    hi  2      10   hihihi
2  None  3  hihihi     None
3   NaN  0     NaN      NaN
4   NaN  9     NaN      NaN

In [1]:
test_dict={'1.png':[111,2,3,1],'2.png':[111,4,1,23,4,1,"j"],'3.png':[111], '4.png':[111],'5.png':[111,"h"]}

In [2]:
res2 = pd.DataFrame.from_dict(test_dict, orient='index')
res2

NameError: name 'pd' is not defined

In [42]:
countimg=list(res2.columns)
print(countimg)
print(len(countimg))

[0, 1, 2, 3, 4, 5, 6]
7

In [43]:
for i in range(0,len(countimg)):
    countimg[i]=countimg[i]-1
    
countimg[0]='FPS'
countimg[1]='cost time'

In [44]:
res2.columns=countimg
res2

       FPS cost time    1     2    3    4     5
1.png  111         2  3.0   1.0  NaN  NaN  None
2.png  111         4  1.0  23.0  4.0  1.0     j
3.png  111      None  NaN   NaN  NaN  NaN  None
4.png  111      None  NaN   NaN  NaN  NaN  None
5.png  111         h  NaN   NaN  NaN  NaN  None

In [8]:
res2.columns

Int64Index([1, 2, 30, 4, 10], dtype='int64')

In [46]:
test_dict2={'1.png':4,'2.png':6,'3.png':7, '4.png':7,'5.png':8}

In [70]:
# 열 이름 변경
res3 = pd.DataFrame.from_dict(test_dict2, orient='index')
res3=res3.rename(columns={0:'coordinate'}) #초기 설정 0으로 되어있음
res3

       coordinate
1.png           4
2.png           6
3.png           7
4.png           7
5.png           8

In [71]:
res2['coordinate']=None
res2['coordinate']=res3['coordinate']
res2

       FPS cost time    1     2    3    4     5  coordinate
1.png  111         2  3.0   1.0  NaN  NaN  None           4
2.png  111         4  1.0  23.0  4.0  1.0     j           6
3.png  111      None  NaN   NaN  NaN  NaN  None           7
4.png  111      None  NaN   NaN  NaN  NaN  None           7
5.png  111         h  NaN   NaN  NaN  NaN  None           8

## df csv로 저장

In [72]:
res2.to_csv("filename.csv", mode='w')